# Lab Assignment \#1

 ## You can use python as a calculator!

In [2]:
2+2

4

## If the line runs too long, you can use backslash (\) to break up the statement

In [10]:
1 + 2 + 3 + 4 + \
5

15

## Execute multiple statements on one line...
## ... but try to avoid doing it

In [5]:
1 + 1 ; 2 + 2

4

## Python knows order of operations.

In [6]:
3*(3 + 4)

21

## Predict the answer before you try it out...

I predict 36

In [7]:
4 * 3 ** 2

36

## Predict the answer before you try it out...

I predict 4^3 = 64

In [8]:
-2 ** 2 ** 3

-256

## Exponentiation

In [9]:
7 ** 2

49

# Square root function: what happened?

In [12]:
sqrt(4.0)

NameError: name 'sqrt' is not defined

# Import specialized numerical module

In [13]:
from numpy import *

## and try again...

In [14]:
sqrt(4.0)

2.0

## Exponential function.

In [15]:
exp(12.0)

162754.79141900392

## Logarithms are in base e.

In [16]:
log(10.0)

2.302585092994046

## Base 10 logarithm.

In [17]:
log10(10.0)

1.0

## π is recognized, trig is in radians.

In [18]:
sin(pi)

1.2246467991473532e-16

## Is this the answer you were expecting?
no...

## Trailing j denotes an imaginary component (= i).

In [19]:
exp(0.2 + 2.1j)

(-0.6166204246046837+1.0543263012946278j)

## Previous commands (only works on command line).

1) type command(s) on terminal
2) press up key for previous commands, down for more recent commands

## Convert to degrees.

In [20]:
arccos(0.0)*180.0/pi

90.0

## Absolute value.

In [21]:
abs(0.2 - 2.1j)

2.1095023109728985

## Example help about the multiplication operator.

In [ ]:
help('*')

## General help

In [ ]:
help()

Welcome to Python 3.11's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

## ‘m’ has not been assigned a value.

In [29]:
m

NameError: name 'm' is not defined

## ‘m’ now equals (floating-point) 10.

In [35]:
m = 10.

Now it had a value so typing it returns the value

In [36]:
m

10.0

## Scientific Notation

In [37]:
m = 1e1

Now it had a value so typing it returns the value

In [38]:
m

10.0

## Check the value: is it the same?

In [39]:
m = 0.00008

## Capitalization matters.

In [40]:
M

NameError: name 'M' is not defined

## Defining M.

In [41]:
M = m**m

See value.

In [42]:
M

0.9992456059844943

## You can also store strings of text in variables.

In [43]:
m = 'test string'

See value

In [44]:
m

'test string'

### Alternative

In [45]:
print(m)

test string

## Multiple assignments (check them).

In [46]:
m, n = 1.0, 2.0

In [47]:
m, n

(1.0, 2.0)

## You may reassign a standard function as a    variable..
## ...but then the function no longer works.

In [49]:
sin = 10
sin(pi)

TypeError: 'int' object is not callable

In [50]:
from numpy import sin, pi
sin(pi)

1.2246467991473532e-16

## We did this calculation in class. Cast (convert) double to integer.

In [52]:
x = 3.82
f = ((x - 6.0)*x + 3.0)*x - 1.0 
int(f)

-21

## Repeating calculations above in single precision. Compare to the value of ‘f’.
## Relative error of single and double precision
## in this case.

In [57]:
from numpy import single
xs = single(3.82)
fs = ((xs - 6.0)*xs + 3.0)*xs - 1.0
(fs - f)/f

2.9302402859302245e-09

## Machine epsilon for double-precision: what is its value?

In [59]:
eps = 2**-52
eps

2.220446049250313e-16

## What happened?

In [64]:
1.0 + eps - 1.0
1.0 + eps/2.0 - 1.0

0.0

first line returns the same value; however,

## What happened?

In [63]:
2.0**1023 
2.0**1023*2.0

inf

## This time leave off the decimal on the first 2: what happened?

In [65]:
2**1023*2.0
2**-1074

5e-324

In [66]:
2**-1074/2.0

0.0

What happened?

answer placeholder

## NumPy 16-bit integer.

In [69]:
from numpy import int16
vali = int16(32768) 
vali

/var/folders/24/ggylxxcj3xq362xbyt3gkg_00000gn/T/ipykernel_84126/642146999.py:2: DeprecationWarning: NumPy will stop allowing conversion of out-of-bound Python integers to integer arrays.  The conversion of 32768 to int16 will fail in the future.
For the old behavior, usually:
    np.array(value).astype(dtype)`
will give the desired result (the cast overflows).
  vali = int16(32768)

-32768

What happened?

answer placeholder "int16 overflow"

In [71]:
type(vali)

numpy.int16

## Start again.

In [72]:
vali = int16(32767)
vali += 1

Is this ok? Why or why not?

answer placeholder

In [74]:
type(vali)

numpy.int64

Does this clarify what happened?

In [75]:
vali = 2**63

Then inspect value

In [76]:
vali

9223372036854775808

In [77]:
type(vali)

int

What do you find?

In [78]:
val = float(input('Give me a value: '))

Give me a value: 40

Then inspect value

In [79]:
val

40.0